$font-xsmall: 1rem; //10px
$font-small: 1.6rem; //16px
$font-medium: 2rem; //20px
$font-large: 3rem;
$font-xlarge: 5rem;

$color-white: #ffffff;
$color-black: #000;
$color-gray: rgba(156, 156, 156, 0.592);
$primary-red: #FD4747;
$primary-light-red: #FD7979;

$font-family-lato: 'Lato', 'san-serif';